:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --third-text-color: #afb1b8;
  --accent-color: #2196f3;
  --text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --label-background-color: rgba(47, 48, 58, 0.8);
  --border-color: #eeeeee;
  --info-color: rgba(255, 255, 255, 0.6);

  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --main-padding: 94px;
}
/* ----- Reset ---- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
}
.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);

  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* -------- universal classes ------------*/
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.nav-link,
.section-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.section {
  padding: var(--main-padding) 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.feature-title,
.social-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.buttons-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  gap: 8px;
}
/* .buttons-list > li:not(:last-child) {
  margin-right: 8px;
} */

/* ------ Hide headers -------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
/* --------- Header ----------*/
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-list > li:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding: 32px 0;
  transition: color var(--cubic-bezier);
}
.header {
  border-bottom: 1px solid #ececec;
}
.logo,
.logfoot {
  color: var(--accent-color);
  text-decoration: none;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  display: flex;
  margin-right: 94px;
}
.logo-part {
  color: var(--primary-text-color);
}
.contact-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.contact-link {
  color: var(--text-color);
  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  padding: 32px 0;
  align-items: center;

  transition: color var(--cubic-bezier);
}
.contact-icons {
  fill: currentColor;
  margin-right: 10px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.item {
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* ------ Navigation part ------- */
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
/* ------- Hero -------- */
.hero {
  background-color: var(--secondary-background-color);
  padding: 200px 0;
}
.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  display: block;
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
}
.hero-btn {
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

/* ----- Overlay ------ */
.overlay {
  background: #c4c4c4;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ------- Work -------- */
.work {
  padding-top: 0px;
}
.work-list {
  display: flex;
}
.work-list > li:not(:last-child) {
  margin-right: 30px;
}
.img-box {
  position: relative;
}
.label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: var(--label-background-color);
}

/* -------- Features --------------- */
.features-list {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-svg {
  background-color: var(--third-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-text {
  color: var(--text-color);
  max-width: 270px;
}
/* ---------------- Command ------------------ */
.command {
  background-color: #f5f4fa;
}
.user {
  padding-top: 30px;
  padding-bottom: 16px;
}
.command-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.command-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.command-soc-items {
  width: 44px;
  height: 44px;
}
.command-soc-link {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--cubic-bezier), fill var(--cubic-bezier);
}
.command-soc-link:hover,
.command-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-text-color);
}
.command-list {
  display: flex;
}
.command-list > li:not(:last-child) {
  margin-right: 30px;
}
.command-item {
  background-color: var(--main-background-color);
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-member {
  margin-bottom: 10px;
}

/* ------- Buttons ---------- */
.btn {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background: var(--third-background-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  font-family: inherit;

  transition: color var(--cubic-bezier), background var(--cubic-bezier),
    box-shadow var(--cubic-bezier);
}
.btn:hover,
.btn:focus {
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*------- Regular customers -------*/
.clients {
  background-color: var(--main-background-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--third-text-color);
  border: 1px solid var(--third-text-color);
  border-radius: 4px;

  transition: border-color var(--cubic-bezier), fill var(--cubic-bezier);
}
.clients-link:hover,
.clients-link:focus,
.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
/* ------ Examples of projects ---------- */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.project {
  padding: 20px 24px;
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-info {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
.project-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-link {
  display: block;
  transition: transform var(--cubic-bezier);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}
.project-thumb {
  position: relative;
  display: inline-flex;

  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--cubic-bezier);
}
.project-desc {
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/* ----------- Footer ------------- */
.footer {
  background: var(--secondary-background-color);
  padding: 60px 0;
}
.logfoot {
  display: block;
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.address-location,
.logo-item {
  color: var(--secondary-text-color);

  text-decoration: none;
}
.footer-contact {
  color: var(--info-color);

  text-decoration: none;

  transition: color var(--cubic-bezier);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/* ------- Social-links ------ */

.social-links {
  margin-top: 72px 0;
}
.social-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.social-list {
  display: flex;
  gap: 10px;
}
.social-items {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--cubic-bezier);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-icons {
  fill: var(--secondary-text-color);
}
.container-position {
  display: flex;
  align-items: baseline;
}
.position {
  justify-content: center;
  align-items: center;
  min-width: 231px;
  margin-right: 70px;
}
/* ------------- Форма розсилки --------- */
.form-subscribe {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  margin-right: 0;
  margin-left: auto;
  min-width: 570px;
}
.field-subscribe {
  display: flex;
  flex-direction: column;
}
.label-subscribe {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.input-subscribe {
  display: block;
  padding: 15px 16px;
  margin-right: 12px;

  max-width: 358px;
  min-height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-text-color);
}
.input-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  cursor: pointer;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  display: flex;
  transition: background-color var(--cubic-bezier);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: blue;
}
.submit-icon {
  fill: currentColor;
  margin-left: 10px;
}
/* ------- Backdrop -------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--cubic-bezier);

  width: 528px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}
.close-tag {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-background-color);
  transition: fill var(--cubic-bezier);
}
.close-tag:hover,
.close-tag:focus {
  fill: var(--accent-color);
}

/* -------Backdrop.is-hidden-------- */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/* ----------- Modal-heading --------- */
.modal {
  padding: 40px;
}
.modal-heading {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-input-group {
  margin-bottom: 10px;
}
.modal-input-group label {
  display: block;
  margin-bottom: 4px;
}
.input-label {
  display: block;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}
.modal-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  padding-left: 42px;

  transition: border-color var(--cubic-bezier);
}
.modal-input:focus,
.modal-input:focus + .modal-input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.textarea-input {
  margin-bottom: 20px;
}
.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--cubic-bezier);
}
.modal-input-icon {
  position: absolute;
}
.modal-input-wrapper {
  position: relative;
}
.modal-input-icon {
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--cubic-bezier);
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-checkbox-group {
  margin-bottom: 30px;
}
.checkbox-link {
  color: var(--accent-color);
  margin-left: 2px;
}
.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  transition: border-color var(--cubic-bezier), background-color var(--cubic-bezier);
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--text-color);
}
.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-image var(--cubic-bezier);
}
.checkbox-input:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}
.modal-submit-btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
