.logotype-list {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logotype-list__item {
    width: 170px;
    height: 92px;
}

.logotype-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--third-text-color);
    border: 1px solid var(--third-text-color);
    border-radius: 4px;

    transition: border-color var(--cubic-bezier), fill var(--cubic-bezier);
    &:hover,
    &:focus,
    &:hover .logotype-list__icons,
    &:focus .logotype-list__icons {
            border-color: var(--accent-color);
            fill: var(--accent-color);
        }
}

