.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform var(--cubic-bezier);
    padding: 40px;

    width: 528px;

    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-heading {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.close-tag {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-background-color);
    transition: fill var(--cubic-bezier);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}



/* -------Backdrop.is-hidden-------- */
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-input-group {
    margin-bottom: 10px;
}

.modal-input-group label {
    display: block;
    margin-bottom: 4px;
}

.input-label {
    display: block;
    width: 100%;
    bottom: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--text-color);
}

.modal-input {
    display: inline-block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: none;
    padding-left: 42px;

    transition: border-color var(--cubic-bezier);
    &:focus,
    &:focus+.modal-input-icon {
            border-color: var(--accent-color);
            fill: var(--accent-color);
        }
}

.textarea-input {
    margin-bottom: 20px;
}

.modal-text {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--cubic-bezier);
    &:focus {
            border-color: var(--accent-color);
        }
}

.modal-input-wrapper {
    position: relative;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--cubic-bezier);
}

.modal-checkbox-group {
    margin-bottom: 30px;
}

.checkbox-link {
    color: var(--accent-color);
    margin-left: 2px;
}

.checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    transition: border-color var(--cubic-bezier), background-color var(--cubic-bezier);
    &:checked+.icon {
            border-color: var(--accent-color);
            background-color: var(--accent-color);
            background-image: url('../images/icon-check.svg');
            background-size: contain;
            background-origin: border-box;
        }
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: var(--text-color);
}

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-image var(--cubic-bezier);
}

.modal-submit-btn {
    width: 200px;
    height: 50px;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}