.section {
    padding: var(--main-padding) 0;
}
 .section__link {
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }

 .section__title {
     font-size: 36px;
     line-height: 1.16;
     text-align: center;
     margin-bottom: 50px;
 }