.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__items {
        width: 44px;
        height: 44px;
    }

    &__link {
        fill: #afb1b8;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--secondary-text-color);
        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color var(--cubic-bezier), fill var(--cubic-bezier);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: var(--secondary-text-color);
        }
    }
}