:root {
    --primary-text-color: #212121;
    --secondary-text-color: #ffffff;
    --third-text-color: #afb1b8;
    --accent-color: #2196f3;
    --text-color: #757575;
    --main-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --third-background-color: #f5f4fa;
    --label-background-color: rgba(47, 48, 58, 0.8);
    --border-color: #eeeeee;
    --info-color: rgba(255, 255, 255, 0.6);

    --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --main-padding: 94px;
}
